* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;


}

button {
    cursor: pointer;
}

.header {
    background: #2D2D2D;
    height: 95px;

    .container {
        display: flex;

        img:first-child {
            margin-top: 6.86px;
            margin-right: 25.32px;
        }

        >div {
            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
                margin-top: 29px;
                margin-right: 111px;
            }
        }

        div:nth-child(3) {
            display: flex;
            align-self: center;


            img {
                margin: 0 10px 0 0
            }

            span {
                margin-right: 20px;
                align-self: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;


            }

            span:nth-child(4) {
                margin-right: 44px;


            }

            >input {
                width: 205px;
                height: 43px;
                border: 1px solid #FFBF1D;
                background: #2D2D2D;
                align-self: center;
                margin-right: 44px;
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #FFFFFF;
            }

            ul li {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
                list-style-type: none;
                padding-top: 10px;



            }

            ul {
                li:last-child {
                    padding-bottom: 7.5px;
                }
            }








        }



    }
}

.container {
    width: 1296px;
    margin: 0 auto;



}


.nav {
    height: 76px;
    background: #F3F3F3;

    ul {
        margin-top: 25px;

        li {
            list-style-type: none;
            display: inline;
            padding-right: 30px;

            a {
                text-decoration: none;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #000000;
            }
        }

        li:last-child {
            margin-right: 215px;
        }
    }

    .container {
        display: flex;

        >div {
            margin-top: 20px;

            form {
                input {
                    width: 270px;
                    height: 30px;
                    border: 1px solid rgba(45, 45, 45, 0.6);
                }
            }

        }
    }
}

.baners {
    display: flex;
    height: 675px;
    background-color: #F3F3F3;
    justify-content: center;

    >div:first-child {
        background-image: url(../img/фон\ для\ оффера.jpg);
        height: 600px;
        width: 788px;
        display: flex;
        flex-direction: column;

        >div:last-child {
            position: absolute;
            -ms-flex-item-align: end;
            align-self: flex-end;
            margin-top: 534px;
            width: 66px;
            height: 66px;
            border: 1px solid #F3F3F3;
            border-radius: 0px;



            img {

                width: 9.16px;
                height: 17.06px;
                margin-top: 24px;
                margin-left: 25px;
                background: none;

            }


        }

        >h2 {
            align-self: flex-start;
            width: 591px;
            height: 125px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 108px;
            text-transform: uppercase;
            color: rgba(196, 196, 196, 0.5);
            opacity: 0.5;
            transform: rotate(-90deg);
            margin-left: -250px;
            margin-top: -190px;

        }

        img {
            width: 264px;
            height: 5px;
            background: #FCB427;
            align-self: center;
            margin-bottom: 20px;
            margin-top: 103px;
            margin-left: -240px;

        }

        >div {
            align-self: center;
            margin-left: 0px;

            h1 {
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                color: #2D2D2D;

            }

            >p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #2D2D2D;
                margin-top: 30px;
                line-height: 25px;


            }

            >input {
                width: 219px;
                height: 50px;
                background: #FCB427;
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #FFFFFF;
                margin-top: 30px;
                margin-right: 28px;


            }

            >input+input {
                border: 1px solid #2D2D2D;
                background: none;
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #2D2D2D;


            }



        }
    }

    >div:last-child {
        display: flex;
        background-image: url(../img/Изображение.jpg);
        height: 600px;
        background-size: 1460px 100%;
        height: 600px;
        width: 788px;
        background-position-x: right;

        >div {
            position: absolute;
            -ms-flex-item-align: end;
            align-self: flex-end;
            width: 66px;
            height: 66px;
            border: 1px solid #F3F3F3;
            border-radius: 0px;
            background: #FCB427;

            img {
                width: 9.16px;
                height: 17.06px;
                margin-top: 24px;
                margin-left: 25px;
                background: none;
            }
        }

        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 100px;
            line-height: 124.19%;
            text-transform: uppercase;
            opacity: 0.3;
            align-self: flex-end;
            margin-left: 230px;
            margin-bottom: -60px;
            color: white;


        }


    }


}

.rent {
    height: 565px;
    background: #FFFFFF;


    .container {
        h3 {
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
            margin-top: 51px;

            span {
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 141.69%;
                color: #FF971D;
            }
        }

        >div {
            margin-top: 55px;
            display: flex;

            >div {
                margin-right: 72px;

                >img {
                    margin-top: -10px;
                    margin-left: -70px;
                }
            }

            >div+div {
                p {
                    font-family: 'PT Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 33px;
                    line-height: 142.19%;
                    color: #2D2D2D;
                }

                p:nth-child(4) {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 156.69%;
                    color: #2D2D2D;
                    margin-right: 150px;
                }

                input {
                    width: 219px;
                    height: 50px;
                    background: #FCB427;
                    font-family: 'PT Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 141.69%;
                    color: #FFFFFF;
                    margin-top: 32px;
                }

                h2 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 113px;
                    line-height: 151.69%;
                    text-transform: uppercase;
                    color: rgba(211, 208, 208, 0.2);
                    margin-bottom: -90px;
                    margin-top: -90px;
                    margin-left: 134px;



                }
            }
        }

    }

    .controls-center {
        display: flex;
        flex-direction: column;

        >div:first-child {
            display: flex;
            align-self: end;
            width: 40px;
            height: 40px;
            border: 2px solid #FF971D;
            margin-top: 34px;
            margin-right: 181px;


            >button {
                margin-left: -14px;
                border: none;
                align-self: center;
                background: none;


                img {
                    width: 30px;
                    height: 10px;
                    background: none;
                    cursor: pointer;


                }

            }
        }

        >button {
            display: flex;
            align-self: center;
            margin-top: -24px;
            background: none;
            border: none;

            >img {
                margin-left: 220px;
                cursor: pointer;

            }
        }
    }

    .scrollbar {
        margin: 26px 0 1em 0;
        height: 4px;
        background: #ccc;
        line-height: 0;
        width: 556px;

        .handle {
            transform: translateZ(0px) translateX(0px);
            width: 71px;
            height: 100%;
            background: #292a33;
            cursor: pointer;

            .mousearea {
                position: absolute;
                top: -9px;
                left: 0;
                width: 100%;
                height: 20px;
            }
        }
    }
}

.rent_2 {
    height: 744px;
    background: #E5E5E5;

    .container {
        display: flex;

        >div:first-child {
            h2 {
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 141.69%;
                color: #424242;
                margin-top: 182px;
            }

            button {
                width: 219px;
                height: 50px;
                background: #FCB427;
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 141.69%;
                color: #FFFFFF;
                margin-top: 30px;
            }

        }

    }
}

.rent_2 {
    .container {
        >div:first-child>div {
            margin-top: 65px;
            width: 583px;
            margin-right: 92px;

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 156.69%;
                color: #2D2D2D;
                padding-bottom: 15px;

            }
        }

        >div:last-child {
            display: flex;
            flex-wrap: wrap;
            margin-top: 300px;



            >div {
                margin-left: 100px;
                text-align: center;

                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 142.19%;
                    color: #2D2D2D;
                    padding-top: 21px;
                }

                >img:first-child {
                    position: absolute;
                    margin-left: 27px;
                }

                >img:nth-child(2) {
                    position: relative;
                }



            }

            >div:nth-child(2) {
                margin-left: 120px;

            }

            >div:nth-child(3) {
                margin-left: 80px;
                margin-top: 21px;
            }

            >div:nth-child(4) {
                margin-left: 70px;
                margin-top: 29px;

            }
        }
    }
}

.black-line {
    height: 300px;
    background-color: #2D2D2D;

    .black-line-wrapper {
        display: flex;
        height: 300px;
        background: url(../img/black_line-up.svg) top repeat-x,
            url(../img/black_line-down.svg) bottom repeat-x;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >div {
                display: flex;
                flex-direction: column;

                >span {

                    font-family: 'PT Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 75.5%;
                    text-align: center;
                    letter-spacing: 0.07em;
                    color: transparent;
                    -webkit-text-stroke: 2px white;



                }

                >p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 142.19%;
                    text-align: center;
                    color: #FFFFFF;
                    margin-top: 15px;


                }



            }
        }


    }

}

.black-line {
    .grey-line {
        height: 100px;
        background: #E5E5E5;

    }
}

.relize-proect {
    height: 1043px;
    margin-top: 100px;
    display: flex;



    .container {
        h2 {
            margin-top: 50px;
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
            color: #2D2D2D;
        }




    }
}

.equipment-catalog {
    background: #E5E5E5;
    height: 1050px;

    .container {
        h2 {
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
            color: #2D2D2D;
            padding-top: 120px;
        }

        .slidecontainer {
            width: 100%;
            padding-top: 20px;
            margin-right: 90px;

            .slider {
                -webkit-appearance: none;
                width: 123px;
                height: 4px;
                background: grey;
                outline: none;
                opacity: 1;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 34px;
                height: 4px;
                background: black;
                cursor: pointer;
                border: none;
            }
        }

        .controls-center {
            display: flex;
            flex-direction: column;

            >div:first-child {
                display: flex;
                align-self: end;
                width: 40px;
                height: 40px;
                border: 2px solid #FF971D;
                margin-top: 34px;
                margin-right: 93px;


                >button {
                    margin-left: -14px;
                    border: none;
                    align-self: center;
                    background: none;


                    img {
                        width: 30px;
                        height: 10px;
                        background: none;
                        cursor: pointer;


                    }

                }
            }

            >button {
                display: flex;
                align-self: center;
                margin-top: -24px;
                background: none;
                border: none;

                >img {
                    margin-left: -80px;
                    cursor: pointer;

                }
            }
        }

    }
}

.equipment-catalog {
    .container {
        >div {
            display: flex;
            justify-content: flex-end;

        }


    }

    .catalog-cars {
        overflow: hidden;

        >div:first-child {
            display: flex;
            justify-content: center;

            .car-img {
                width: 370px;
                height: 590px;
                background-color: white;
                margin-right: 10px;
                margin-top: 21px;



                .name-car {
                    height: 90px;
                    background: url(../img/left-item.svg) left no-repeat, url(../img/right-item.svg) right no-repeat;
                    border-bottom: 1px solid rgba(252, 209, 39, 0.5);
                    text-align: start;

                    >p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 142.19%;
                        color: #2D2D2D;
                        margin-left: 26px;
                        margin-top: -4px;
                        padding-top: 10px;


                    }

                }

                .characteristics {
                    text-align: start;

                    p:first-child {
                        padding-top: 21px;

                        >span:first-child {
                            margin-left: 12px;

                        }

                    }

                    p {
                        margin-left: 26px;
                        padding-bottom: 6px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 156.69%;
                        color: #2D2D2D;

                        >span {
                            margin-left: 46px;
                        }
                    }

                    p:last-child {
                        font-family: 'PT Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 141.69%;
                        color: #2D2D2D;

                        img {
                            width: 18px;
                            height: 10px;
                            margin-left: 24px;
                            cursor: pointer;



                        }
                    }


                }

                .arends {
                    button {
                        margin-left: 26px;
                        width: 311px;
                        height: 50px;
                        background: #FCB427;
                        border: none;
                        font-family: 'PT Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 141.69%;
                        color: #FFFFFF;
                        margin-top: 8px;
                    }
                }


            }

            .car-img:first-child {
                width: 370px;
                height: 590px;
                background-color: white;
                margin-right: 10px;
                margin-left: 12px;
            }
        }
    }

    >div:last-child {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        button {
            width: 200px;
            height: 50px;
            border: 1px solid #FCB427;
            background: white;
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 141.69%;
            color: #2D2D2D;
        }

    }
}

.black-line-2 {
    height: 493px;
    background-color: #2D2D2D;

    .black-line-wrapper {
        display: flex;
        height: 493px;
        background: url(../img/black_line-up.svg) top repeat-x,
            url(../img/black_line-down.svg) bottom repeat-x;
        padding-bottom: 50px;
        border-bottom: 50px solid #e5e5e5;


        .container {
            display: flex;
            flex-direction: column;

            h2 {
                font-family: 'PT Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 141.69%;
                color: #FFFFFF;
                margin-top: 41px;
            }

            >div {
                margin-top: 20px;
                display: flex;

                >div {
                    display: flex;
                    flex-direction: column;

                    >p:first-child {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 64px;
                        line-height: 100%;
                        color: #FFFFFF;
                        padding-top: 21px;
                        margin-left: 0px;
                    }

                    >p:last-child {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 156.69%;
                        color: #FFFFFF;
                        text-align: center;
                    }









                }

                >div:first-child {

                    background: url(../img/01.svg) no-repeat;
                    width: 135px;
                    height: 96px;
                    margin-left: 57px;


                    >p:last-child {

                        width: 270px;
                        margin-left: -57px;
                        margin-top: 23px;
                    }
                }

                >div:nth-child(2) {
                    background: url(../img/02.svg) no-repeat;
                    width: 135px;
                    height: 96px;
                    margin-left: 182px;

                    >p:last-child {

                        width: 270px;
                        margin-left: -57px;
                        margin-top: 23px;
                    }

                }

                >div:nth-child(3) {
                    background: url(../img/03.svg) no-repeat;
                    width: 135px;
                    height: 96px;
                    margin-left: 182px;

                    >p:last-child {

                        width: 270px;
                        margin-left: -57px;
                        margin-top: 23px;
                    }

                }

                >div:nth-child(4) {
                    background: url(../img/04.svg) no-repeat;
                    width: 135px;
                    height: 96px;
                    margin-left: 182px;

                    >p:last-child {

                        width: 270px;
                        margin-left: -57px;
                        margin-top: 23px;
                    }

                }
            }

        }
    }


}

.put-the-technique {
    border-top: 30px solid #FCD127;
    border-bottom: 30px solid #FCD127;
    padding-top: 25px;
    padding-bottom: 55px;
    background: url(../img/put-the-technique_bg.jpg) 50% 100% no-repeat;

    h3 {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 142.19%;

        span {
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 33px;
            line-height: 142.19%;
            color: #FF971D;
        }

    }
}

.row {
    margin-top: 45px;

    button {
        width: 300px;
        height: 50px;
        background: #FCB427;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 141.69%;
        color: #FFFFFF;


    }

    input {
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 1px solid #535554;
        margin-right: 30px;
    }
}

.checkbox {
    display: flex;
    margin-top: 20px;



    input {
        margin-right: 15px;
    }

    span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 120%;
        color: #2D2D2D;
    }

    a {
        color: #2D2D2D;
        ;

    }
}

.about-we {

    height: 781px;
    display: flex;

    .container {

        h3 {
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 141.69%;
            color: #2D2D2D;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 156.69%;
            color: #2D2D2D;
            padding-top: 41px;




        }

        >div {
            margin-top: 157px;
            margin-right: 43px;
            margin-left: 110px;
        }
    }

    >div:last-child {
        width: 784px;
        height: 481px;
        margin-top: 157px;
        display: flex;
        flex-direction: column;



        >div {
            width: 288px;
            height: 30px;
            background: url(../img/stripes.svg);
            align-self: flex-end;
        }


    }


    background: url(../img/about.png) no-repeat center left,
    #E5E5E5;
}

.services {
    padding-top: 50px;
    padding-bottom: 85px;
    background-image: url(../img/LEBHER.png), url(../img/Services-back.png);
    background-position: 0 135px, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-color: #fff;

    a {
        color: inherit;
        text-decoration: none;
    }

    .g-title {
        padding-bottom: 35px;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 141.69%;
        color: #2D2D2D;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;

        .services__item {
            margin: 15px;
            width: calc(33.3% - 30px);

            .services__btn {
                font-size: 18px;
                font-weight: 700;
                height: 83px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 5px 20px;
                background: #FCB427;
                color: #fff;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;



                .services__btn:hover {
                    background: orange;
                }
            }

            .services__img {
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }


        }
    }
}

.info-block {
    background: #F3F3F3;
    padding-top: 103px;
    padding-bottom: 100px;

    h2 {
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 40px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.69%;
        color: #2D2D2D;
        padding-bottom: 20px;
    }

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 22px;
        padding-left: 20px;
        position: relative;
        letter-spacing: -.03px;
        line-height: 1.5;
        font-size: 16px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.69%;
        color: #2D2D2D;


    }

    li:before {
        left: 0;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: #FCB427;
        position: absolute;
        top: 50%;
        content: '';
        display: block;
    }
}

.questions {
    background: url(../img/questions_back_up.jpg) repeat-x, url(../img/questions_back_up.jpg) 30px 100% repeat-x, url(../img/content/questions-bg2.svg) 130% 39% no-repeat #292929;
    padding-top: 75px;
    padding-bottom: 45px;
    color: #fff;
}