@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400; }

button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

li {
  list-style-type: none; }

.header {
  background: #2D2D2D;
  height: 95px; }
  .header .container .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .container .heder-general {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .container .heder-slogan {
    margin-left: 25px;
    padding-top: 15px;
    max-width: 185px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.19%;
    color: #FFFFFF; }
  .header .container .heder-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.19%;
    color: #FFFFFF; }
    .header .container .heder-info img {
      margin-right: 5px; }
    .header .container .heder-info .time_work {
      padding-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .container .heder-info .time_work canvas {
        width: 130px;
        margin-right: -60px; }
  .header .container .head-adress {
    max-width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .container .header-btn {
    padding-top: 21px;
    padding-left: 10px; }
    .header .container .header-btn input {
      width: 205px;
      height: 43px;
      border: 1px solid #FFBF1D;
      background: #2D2D2D;
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 141.69%;
      color: #FFFFFF; }
  .header .container .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.69%;
    color: #FFFFFF; }
    .header .container .header-contacts div:first-child {
      -ms-flex-item-align: center;
          align-self: center;
      padding-right: 10px; }
    .header .container .header-contacts ul {
      padding-top: 10px; }

.container {
  max-width: 1296px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

.nav {
  padding: 25px 0;
  background: #F3F3F3;
  font-weight: 500;
  font-size: 16px; }
  .nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 30px; }
    .nav ul li a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #000000; }
  .nav .container .row {
    margin-top: 0px;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav .container .row .menu-btn {
      display: none;
      width: 40px;
      padding: 0 5px; }
      .nav .container .row .menu-btn span {
        display: block;
        width: 100%;
        height: 3px;
        background: #000;
        margin: 5px 0; }
    .nav .container .row .menu-close {
      position: absolute;
      right: 10px;
      top: 10px;
      display: none;
      width: 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 5px;
      margin: 15px 10px;
      height: 30px; }
      .nav .container .row .menu-close span {
        display: block;
        width: 100%;
        height: 3px;
        background: #000;
        margin: 5px 0;
        top: 9px;
        left: 0;
        position: absolute;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .nav .container .row .menu-close span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .nav .container .row ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .nav .container .row .nav-search {
      max-width: 270px;
      width: 100%; }
      .nav .container .row .nav-search .input {
        margin-right: 0; }
      .nav .container .row .nav-search .box-search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 300px;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #535554;
        margin-right: 30px;
        height: 30px;
        width: 100%; }
    .nav .container .row input[type="submit"] {
      left: 0px;
      top: 0px;
      background: #FFFFFF;
      border: 1px solid #535554;
      margin-right: 0px;
      border: none;
      background: url(../img/search-btn.png) 50% 50% no-repeat;
      height: 30px;
      width: 30px; }
    .nav .container .row input {
      width: 0px;
      height: 0px;
      left: 0px;
      top: 0px;
      background: #FFFFFF;
      border: none;
      margin-right: 0px; }
    .nav .container .row input[type="text"] {
      width: 100%;
      height: 30px;
      background: 0 0;
      padding-left: 15px; }

.baners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 675px;
  background-color: #F3F3F3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .baners > div:first-child {
    background-image: url(../img/фон\ для\ оффера.jpg);
    height: 600px;
    width: 788px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .baners > div:first-child > div:last-child {
      position: absolute;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin-top: 534px;
      width: 66px;
      height: 66px;
      border: 1px solid #F3F3F3;
      border-radius: 0px; }
      .baners > div:first-child > div:last-child img {
        width: 9.16px;
        height: 17.06px;
        margin-top: 24px;
        margin-left: 25px;
        background: none; }
    .baners > div:first-child > h2 {
      -ms-flex-item-align: start;
          align-self: flex-start;
      width: 591px;
      height: 125px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 108px;
      text-transform: uppercase;
      color: rgba(196, 196, 196, 0.5);
      opacity: 0.5;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      margin-left: -250px;
      margin-top: -190px; }
    .baners > div:first-child img {
      width: 264px;
      height: 5px;
      background: #FCB427;
      -ms-flex-item-align: center;
          align-self: center;
      margin-bottom: 20px;
      margin-top: 103px;
      margin-left: -240px; }
    .baners > div:first-child > div {
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0px; }
      .baners > div:first-child > div h1 {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        color: #2D2D2D; }
      .baners > div:first-child > div > p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #2D2D2D;
        margin-top: 30px;
        line-height: 25px; }
      .baners > div:first-child > div > input {
        width: 219px;
        height: 50px;
        background: #FCB427;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        margin-top: 30px;
        margin-right: 28px; }
      .baners > div:first-child > div > input + input {
        border: 1px solid #2D2D2D;
        background: none;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #2D2D2D; }
  .baners > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/Изображение.jpg);
    height: 600px;
    background-size: 1460px 100%;
    height: 600px;
    width: 788px;
    background-position-x: right; }
    .baners > div:last-child > div {
      position: absolute;
      -ms-flex-item-align: end;
      align-self: flex-end;
      width: 66px;
      height: 66px;
      border: 1px solid #F3F3F3;
      border-radius: 0px;
      background: #FCB427; }
      .baners > div:last-child > div img {
        width: 9.16px;
        height: 17.06px;
        margin-top: 24px;
        margin-left: 25px;
        background: none; }
    .baners > div:last-child h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      line-height: 124.19%;
      text-transform: uppercase;
      opacity: 0.3;
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-left: 230px;
      margin-bottom: -60px;
      color: white; }

.rent {
  height: 565px;
  background: #FFFFFF; }
  .rent .container h3 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    margin-top: 51px; }
    .rent .container h3 span {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 141.69%;
      color: #FF971D; }
  .rent .container .lease .row {
    margin-top: 45px; }
    .rent .container .lease .row button {
      margin-top: 44px;
      width: 219px;
      height: 50px; }
    .rent .container .lease .row .lease__img > img {
      display: block;
      margin-right: 100px; }
    .rent .container .lease .row .lease__text {
      width: 100%;
      max-width: 566px;
      margin-top: -90px; }
      .rent .container .lease .row .lease__text .g-title {
        padding-top: 10px;
        margin-bottom: 35px; }

.rent_2 {
  height: 744px;
  background: #E5E5E5;
  padding-top: 180px; }
  .rent_2 .container .g-title {
    padding-bottom: 70px; }
    .rent_2 .container .g-title h2 {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 141.69%;
      color: #424242; }
  .rent_2 .container .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .rent_2 .container .row .rent2-text {
      max-width: 595px;
      padding-right: 15px; }
      .rent_2 .container .row .rent2-text p {
        margin-bottom: 27px; }
      .rent_2 .container .row .rent2-text .rent2-btn {
        margin-top: 40px;
        width: 100%;
        max-width: 219px; }
    .rent_2 .container .row .rent2-icon {
      padding-top: 13px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-width: 435px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .rent_2 .container .row .rent2-icon .icon-item {
        width: 50%;
        text-align: center;
        margin-bottom: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 10px; }
        .rent_2 .container .row .rent2-icon .icon-item svg {
          position: absolute;
          margin-left: 5px;
          opacity: 0.8;
          margin-top: -5px; }

.black-line {
  background-color: #2D2D2D;
  background-image: url(../img/black_line-up.svg), url(../img/black_line-down.svg);
  background-position: 0 0, 30px 100%;
  background-repeat: repeat-x, repeat-x; }
  .black-line .container .row {
    height: 300px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1290px;
    margin: auto; }
    .black-line .container .row .numbers_item {
      padding-top: 80px;
      padding-bottom: 20px;
      text-align: center; }
      .black-line .container .row .numbers_item > span {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 75.5%;
        text-align: center;
        letter-spacing: 0.07em;
        color: transparent;
        -webkit-text-stroke: 2px white; }
      .black-line .container .row .numbers_item > p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 142.19%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px; }

.relize-proect {
  height: 1043px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .relize-proect .container h2 {
    margin-top: 50px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    color: #2D2D2D;
    padding-bottom: 45px; }

.equipment-catalog {
  background: #E5E5E5;
  height: 1050px; }
  .equipment-catalog .container h2 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    color: #2D2D2D;
    padding-top: 120px; }
  .equipment-catalog .container .slidecontainer {
    width: 100%;
    padding-top: 20px;
    margin-right: 90px; }
    .equipment-catalog .container .slidecontainer .slider {
      -webkit-appearance: none;
      width: 123px;
      height: 4px;
      background: grey;
      outline: none;
      opacity: 1;
      -webkit-transition: .2s;
      -webkit-transition: opacity .2s;
      transition: opacity .2s; }
    .equipment-catalog .container .slidecontainer .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      cursor: pointer; }
    .equipment-catalog .container .slidecontainer .slider::-moz-range-thumb {
      width: 34px;
      height: 4px;
      background: black;
      cursor: pointer;
      border: none; }
  .equipment-catalog .container .controls-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .equipment-catalog .container .controls-center > div:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: end;
          align-self: end;
      width: 40px;
      height: 40px;
      border: 2px solid #FF971D;
      margin-top: 34px;
      margin-right: 93px; }
      .equipment-catalog .container .controls-center > div:first-child > button {
        margin-left: -14px;
        border: none;
        -ms-flex-item-align: center;
            align-self: center;
        background: none; }
        .equipment-catalog .container .controls-center > div:first-child > button img {
          width: 30px;
          height: 10px;
          background: none;
          cursor: pointer; }
    .equipment-catalog .container .controls-center > button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
          align-self: center;
      margin-top: -24px;
      background: none;
      border: none; }
      .equipment-catalog .container .controls-center > button > img {
        margin-left: -80px;
        cursor: pointer; }

.equipment-catalog .catalog-container {
  max-width: 100%;
  margin: 0 auto; }
  .equipment-catalog .catalog-container .catalog-slider .cat-img {
    width: 370px;
    height: 590px;
    background-color: #F3F3F3; }
  .equipment-catalog .catalog-container .catalog-slider .slick-slide {
    margin: 0 100px; }
  .equipment-catalog .catalog-container .catalog-slider .cat-name {
    background: url(../img/right-item.svg) right no-repeat, url(../img/left-item.svg) left no-repeat;
    height: 90px;
    width: 370px;
    border-bottom: 1px solid orange; }
    .equipment-catalog .catalog-container .catalog-slider .cat-name h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 142.19%;
      color: #2D2D2D;
      margin-left: 26px; }
  .equipment-catalog .catalog-container .catalog-slider .characteristics {
    padding-top: 21px; }
    .equipment-catalog .catalog-container .catalog-slider .characteristics .catalog-tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 110px;
      margin-left: 26px;
      padding-bottom: 6px; }
      .equipment-catalog .catalog-container .catalog-slider .characteristics .catalog-tr p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.69%;
        color: #2D2D2D; }
    .equipment-catalog .catalog-container .catalog-slider .characteristics .catalog-tr:nth-child(2) > p:last-child {
      margin-right: 30px; }
    .equipment-catalog .catalog-container .catalog-slider .characteristics .catalog__more {
      text-decoration: none;
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 141.69%;
      color: #2D2D2D;
      margin-left: 26px;
      background: url(../img/Arrow-right-3.svg) right center no-repeat;
      padding-right: 30px; }
    .equipment-catalog .catalog-container .catalog-slider .characteristics .catalog__btn {
      width: 311px;
      height: 50px;
      background: #FCB427;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 26px;
      margin-top: 22px; }
      .equipment-catalog .catalog-container .catalog-slider .characteristics .catalog__btn a {
        text-decoration: none;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 141.69%;
        color: #FFFFFF; }
  .equipment-catalog .catalog-container .catalog-slider .slick-arrow {
    position: absolute;
    top: -57px;
    z-index: 999;
    font-size: 0; }
  .equipment-catalog .catalog-container .catalog-slider .slick-prev {
    background: url(../img/left-arrow_2.svg) no-repeat;
    width: 30px;
    height: 10px;
    border: none;
    right: 285px; }
  .equipment-catalog .catalog-container .catalog-slider .slick-next {
    background: url(../img/right-arrow_2.svg) no-repeat;
    width: 30px;
    height: 10px;
    border: none;
    right: 242px; }
  .equipment-catalog .catalog-container .catalog-slider .slick-next::before {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 0;
    position: absolute;
    content: '';
    display: block;
    width: 40px;
    border: 1px solid orange;
    margin-top: -20px;
    height: 40px;
    margin-left: 9px; }
  .equipment-catalog .catalog-container .catalog-slider .slick-next:hover::before {
    opacity: 1; }
  .equipment-catalog .catalog-container .catalog-slider .slick-prev::before {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 0;
    position: absolute;
    content: '';
    display: block;
    width: 40px;
    border: 1px solid orange;
    margin-top: -20px;
    height: 40px;
    margin-left: -23px; }
  .equipment-catalog .catalog-container .catalog-slider .slick-prev:hover::before {
    opacity: 1; }
  .equipment-catalog .catalog-container .catalog-slider .slick-dots {
    margin-right: 217px;
    position: absolute;
    z-index: 9999;
    right: 0;
    width: 7%;
    top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .equipment-catalog .catalog-container .catalog-slider .slick-dots .slick-active {
      background: #535554; }
  .equipment-catalog .catalog-container .catalog-slider .slick-dots li {
    height: 4px;
    width: 129px;
    background: #C4C4C4;
    cursor: pointer;
    list-style-type: none; }
  .equipment-catalog .catalog-container .catalog-slider .slick-dots li button {
    font-size: 0;
    display: none; }

.rent-price {
  padding-top: 60px;
  padding-bottom: 55px;
  background-image: url(../img/black_line-up.svg), url(../img/black_line-down.svg);
  background-position: 0 0, 30px 100%;
  background-color: #242424;
  background-repeat: repeat-x, repeat-x;
  color: #fff;
  border-bottom: 50px solid #F3F3F3; }
  .rent-price .container h2 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    color: #FFFFFF; }
  .rent-price .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px; }
    .rent-price .container ul li {
      width: 25%;
      padding: 0 10px 30px;
      text-align: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: relative; }
      .rent-price .container ul li .rent-price__number {
        z-index: 10;
        position: relative;
        padding-right: 50px;
        font-size: 64px;
        font-weight: 500;
        padding-bottom: 15px; }
      .rent-price .container ul li .rent-price__shadow {
        position: absolute;
        font-size: 96px;
        color: #242424;
        -webkit-text-stroke: 2px #424242;
        font-weight: 700;
        top: -40px;
        right: 100px; }
  .rent-price p {
    line-height: 1.5;
    font-size: 16px; }

.put-the-technique {
  border-top: 30px solid #FCD127;
  border-bottom: 30px solid #FCD127;
  padding-top: 25px;
  padding-bottom: 55px;
  background: url(../img/put-the-technique_bg.jpg) 50% 100% no-repeat; }
  .put-the-technique h3 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 142.19%; }
    .put-the-technique h3 span {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 33px;
      line-height: 142.19%;
      color: #FF971D; }
  .put-the-technique .row {
    margin-top: 45px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .row button {
    width: 300px;
    height: 50px;
    background: #FCB427;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 141.69%;
    color: #FFFFFF; }
  .row input {
    width: 300px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #535554;
    margin-right: 30px; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .checkbox input {
    margin-right: 15px; }
  .checkbox span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 120%;
    color: #2D2D2D; }
  .checkbox a {
    color: #2D2D2D; }

.about-we {
  height: 781px;
  background: #E5E5E5; }
  .about-we .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .about-we .container h3 {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 141.69%;
      color: #2D2D2D;
      padding-bottom: 41px; }
    .about-we .container .about-text {
      max-width: 558px;
      margin-right: 41px;
      margin-top: 157px; }
      .about-we .container .about-text p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.69%;
        color: #2D2D2D;
        padding-bottom: 30px; }
    .about-we .container .video {
      margin-top: 157px;
      width: 100%; }

.services {
  padding-top: 50px;
  padding-bottom: 85px;
  background-image: url(../img/LEBHER.png), url(../img/Services-back.png);
  background-position: 0 135px, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-color: #fff; }
  .services a {
    color: inherit;
    text-decoration: none; }
  .services .g-title {
    padding-bottom: 35px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    color: #2D2D2D; }
  .services .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    .services .row .services__item {
      margin: 15px;
      width: calc(33.3% - 30px); }
      .services .row .services__item .services__btn {
        font-size: 18px;
        font-weight: 700;
        height: 83px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px 20px;
        background: #FCB427;
        color: #fff;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .services .row .services__item .services__btn .services__btn:hover {
          background: orange; }
      .services .row .services__item .services__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }

.info-block {
  background: #F3F3F3;
  padding-top: 103px;
  padding-bottom: 100px; }
  .info-block h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 40px; }
  .info-block p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #2D2D2D;
    padding-bottom: 20px; }
  .info-block ul {
    list-style: none; }
  .info-block li {
    margin-bottom: 22px;
    padding-left: 20px;
    position: relative;
    letter-spacing: -.03px;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #2D2D2D; }
  .info-block li:before {
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #FCB427;
    position: absolute;
    top: 50%;
    content: '';
    display: block; }

.questions {
  background: url(../img/questions_back_up.jpg) repeat-x, url(../img/questions_back_up.jpg) 30px 100% repeat-x, url(../img/question_back.png) 100% 100% no-repeat #292929;
  padding-top: 75px;
  padding-bottom: 45px;
  color: #fff;
  height: 789px; }
  .questions .g-title h3 {
    padding-bottom: 34px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 142.19%;
    color: #FFFFFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700; }
  .questions p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #FFFFFF;
    max-width: 550px; }
  .questions form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    max-width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .questions form input[type="text"] {
      height: 50px;
      width: 100%;
      max-width: none;
      margin-bottom: 30px;
      background: 0 0;
      border: 1px solid #B1AFAF;
      color: #B1AFAF; }
    .questions form textarea {
      width: 100%;
      max-width: none;
      margin-bottom: 30px;
      background: 0 0;
      border: 1px solid #B1AFAF;
      height: 100px;
      padding: 10px 10px 10px 20px;
      color: #B1AFAF; }
  .questions .checkbox .input {
    margin-right: 15px; }
  .questions .checkbox {
    margin-bottom: 25px;
    font-size: 14px;
    margin-top: 0px; }
  .questions span {
    color: #fff; }
    .questions span a {
      color: #fff;
      text-decoration: none; }
  .questions .btn-btn {
    background: #FCB427;
    width: 100%; }
  .questions .content {
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .questions input[type="submit"] {
    width: 100%;
    height: 50px;
    background: #FCB427;
    border: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 141.69%;
    color: #FFFFFF; }

.rent .lease .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.rent .lease .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.rent .lease .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 999;
  font-size: 0; }
.rent .lease .slick-prev {
  background: url(../img/left-arrow_2.svg) no-repeat;
  width: 30px;
  height: 10px;
  border: none;
  right: 90px;
  top: 350px; }
.rent .lease .slick-next {
  background: url(../img/right-arrow_2.svg) no-repeat;
  width: 30px;
  height: 10px;
  border: none;
  right: 52px;
  top: 350px; }
.rent .lease .slick-next::before {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  opacity: 0;
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  border: 1px solid orange;
  margin-top: -20px;
  height: 40px;
  margin-left: 9px; }
.rent .lease .slick-next:hover::before {
  opacity: 1; }
.rent .slick-prev::before {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  opacity: 0;
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  border: 1px solid orange;
  margin-top: -20px;
  height: 40px;
  margin-left: -23px; }
.rent .slick-prev:hover::before {
  opacity: 1; }
.rent .slick-dots {
  margin-right: -103px;
  position: absolute;
  z-index: 9999;
  right: 0;
  width: 50%;
  top: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .rent .slick-dots .slick-active {
    background: #535554; }
.rent .slick-dots li {
  height: 4px;
  width: 129px;
  background: #C4C4C4;
  cursor: pointer;
  list-style-type: none; }
.rent .slick-dots li button {
  font-size: 0;
  display: none; }

.relize-proect {
  background: url(../img/EUROCRAN.svg) 100% bottom no-repeat; }
  .relize-proect .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    margin: 0 auto; }
  .relize-proect .project-nav {
    margin-left: 0px; }
    .relize-proect .project-nav .slick-arrow {
      position: absolute;
      top: 180px;
      z-index: 999;
      font-size: 0; }
    .relize-proect .project-nav .slick-prev {
      background: url(../img/left-arrow_2.svg) no-repeat;
      width: 30px;
      height: 10px;
      border: none;
      right: 335px; }
    .relize-proect .project-nav .slick-next {
      background: url(../img/right-arrow_2.svg) no-repeat;
      width: 30px;
      height: 10px;
      border: none;
      right: 297px; }
    .relize-proect .project-nav .slick-next::before {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      opacity: 0;
      position: absolute;
      content: '';
      display: block;
      width: 40px;
      border: 1px solid orange;
      margin-top: -20px;
      height: 40px;
      margin-left: 9px; }
    .relize-proect .project-nav .slick-next:hover::before {
      opacity: 1; }
    .relize-proect .project-nav .slick-prev::before {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      opacity: 0;
      position: absolute;
      content: '';
      display: block;
      width: 40px;
      border: 1px solid orange;
      margin-top: -20px;
      height: 40px;
      margin-left: -23px; }
    .relize-proect .project-nav .slick-prev:hover::before {
      opacity: 1; }
    .relize-proect .project-nav .row {
      -webkit-filter: grayscale(100%);
      border-bottom: #B1AFAF 4px solid;
      padding-bottom: 10px; }
    .relize-proect .project-nav .slick-center {
      -webkit-filter: grayscale(0%);
      border-bottom: #535554 4px solid; }
  .relize-proect .project-for .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px; }
    .relize-proect .project-for .row .lease__text {
      padding-left: 40px;
      max-width: 550px; }
      .relize-proect .project-for .row .lease__text .g-title h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 142.19%;
        color: #2D2D2D;
        padding-bottom: 30px; }
      .relize-proect .project-for .row .lease__text p {
        max-width: 520px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 156.69%;
        color: #2D2D2D; }
      .relize-proect .project-for .row .lease__text .more {
        font-family: 'PT Sans', sans-serif;
        margin-top: 23px;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        background: url(../img/Arrow-right-3.svg) 100% 50% no-repeat;
        padding-right: 30px; }
      .relize-proect .project-for .row .lease__text a {
        text-decoration: none;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 141.69%;
        color: #2D2D2D; }

.projects__slider__location {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 700;
  padding-left: 30px;
  max-width: 400px;
  background: url(../img/location.svg) 0 50% no-repeat;
  margin-bottom: 30px; }

.footer {
  background: #2D2D2D;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 12px; }
  .footer .footer__item {
    padding-right: 15px; }
  .footer .row {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .footer ul {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF; }
  .footer li {
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF; }
  .footer h3 {
    padding-bottom: 15px; }
  .footer .footer__logo p {
    padding-top: 23px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF; }
  .footer .footer__logo b {
    display: block;
    padding-top: 30px;
    font-size: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: #B5B5B5; }

.footer__item2 li {
  margin-bottom: 11px; }

.footer__actions button {
  width: 170px;
  height: 43px;
  background: #FFFFFF;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 141.69%;
  color: #000000; }
.footer__actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 21px; }
  .footer__actions ul li {
    padding-right: 10px; }

.footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*# sourceMappingURL=style.css.map */