*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    font-weight: 400;

}
.container{
position: relative;
width: 1296px;
height: 4548px;
background: #722929;
margin:0 auto;
}
.top{
    height: 620px;
    background-color: rgb(194, 246, 190);
}
.nav{
    height: 56px;
    background-color:olive;
    line-height: 16px;
}
.nav ul{
    line-height: 16px;
}


.nav>span{
position: absolute;
width: 76px;
height: 16px;
top: 18px;
left:126px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;
text-align: center;


}
.nav>img{
position: absolute;
width: 38px;
height: 32px;
top: 12px;
left: 80px;
}


.nav ul li{float: right;
    font-family: "Noto Sans";
    font-style: "Light";
    font-size: 14px;
    vertical-align: Center;
    list-style-type: none;
    margin-right:32px;
    padding-top: 20px;
    
    



}
.nav ul li:first-child{
    margin-right: 70px;
    
}
div.nav_menu{
    background-color: #EDEDED;
    height: 56px;
    
    
    
}
div.nav_menu div.block_pink{
    margin-left: 80px;
    width: 244px;
    background-color: crimson;
    height: 56px;
    float: left;
    
}
div.block_pink > img{
    display: inline;
Width:17px;
Height:10px;
margin: 23px 13px 23px 32px;
color: #FFFFFF;
float: left;
}
div.block_pink span{
    width: 150px;
    height: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
    float: left;
   margin:8px 32px 8px -2px;
}
div.nav_menu> img{
    float: left;
    margin:20.46px 10.54px 18.54px 28.46px;
    width:17px;
    height:17px;

}
div.nav_menu input{
position: absolute;
height: 40px;
width: 352px;
left: 558px;
right: 386px;
top: 64px;
background: #FFFFFF;
border-radius: 4px;
}
div.nav_menu img:last-child{
float: right;
width: 268px;
height: 40px;
left: 948px;
top: 64px;
margin-right: 80px;
margin-top: 8px;
margin-bottom: 8px;
;


    
   
}
div.nav_menu>span{
float: left;
margin-top: 20px;
margin-bottom: 20px;
width: 146px;
height: 16px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;


}
