* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    font-weight: 400;
    overflow-x: hidden;

}

.container {
    position: relative;
    width: 1296px;
    height: 4548px;
    background: #FFFFFF;
    margin: 0px auto;
   

}

.top {
    height: 56px;
    line-height: 16px;
}

.top h3 {
    position: absolute;
    width: 76px;
    height: 16px;
    top: 18px;
    left: 126px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
}

.top>img {
    float: left;
    margin-left: 80px;
    margin-top: 12px;
    margin-right: 8px;

}
.top .top_menu {
    float: right;
}

.top ul li {
    float: left;
    font-family: "Noto Sans";
    font-style: "Light";
    font-size: 14px;
    vertical-align: Center;
    list-style-type: none;
    margin-left: 32px;
    padding-top: 20px;
    color: #727272;
    
}

.top ul li:last-child{
    margin-right: 80px;
}

.top a {
    text-decoration: none;
    color: inherit;
}

 div.nav {
    background-color: #EDEDED;
    width: 1296px;
    height: 56px;
}

div.block_pink {
    margin-left: 80px;
    width: 244px;
    background-color: #F46D69;
    height: 56px;
    float: left;
}

div.block_pink>img {
    display: inline;
    Width: 17px;
    Height: 10px;
    margin: 23px 13px 23px 32px;
    color: #FFFFFF;
    float: left;
}

div.block_pink span {
    width: 150px;
    height: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
    float: left;
    margin: 8px 32px 8px -2px;
}

div.nav>img {
    float: left;
    margin: 20.46px 10.54px 18.54px 28.46px;
    width: 17px;
    height: 17px;
}

div.nav input {
    border: none;
    width: 352px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 8px 0px 8px 32px;
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
    color: #727272;
}

div.nav img:last-child {
    float: right;
    width: 268px;
    height: 40px;
    left: 948px;
    top: 64px;
    margin-right: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    
}

div.nav>span {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 146px;
    height: 16px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.nav_menu ul {
    width: 272px;
    height: 32px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #F46D69;
    float: left;
    margin-left: 80px;
    margin-top: 2.5px;
}



.nav_menu li {
    margin-bottom: 8px;
    list-style-type: none;

}


.nav_menu ul li a {
    text-decoration: none;
    color: #000000;
    width: 272px;
    height: 32px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.nav_menu ul li:first-child a {
    color: #F46D69;
}


.menu_image>h3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    padding-top: 284px;
    padding-left: 88px;

}

.menu_image {
    background-image: url("../img/content_img.png");
    background-position: 25px;
    width: 895px;
    height: 485.95px;
    margin-left: 344px;
    margin-top: 9px;
    background-repeat: no-repeat;
}

.menu_image button {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(28, 28, 28, 0);
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 14px 30px 14px 30px;
    margin-top: 22px;
    margin-left: 94px;
    float: left;
}

.menu_image img:nth-child(3) {
    float: right;
    padding-top: 70px;
    margin-right: -57px;
}

.menu_image img:nth-child(4) {
    margin-right: 18px;
    margin-top: -130.5px;
    float: right;
}

.menu_image img:nth-child(5) {
    float: left;
    margin-top: -130.5px;
    margin-left: -240px;
}

.menu_image img:nth-child(6) {
    margin-top: 139px;
    margin-left: 130px;
}

.menu_image img:nth-child(7) {
    padding-left: 20px;
}

.menu_image img:nth-child(8) {
    padding-left: 20px;
}




.catalog_books {
    background-color: #F8F8F8;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 2550px;
    margin-top: 46.5px;
    height: 2520px;
    padding-top: 1px;

}

.catalog_books a {
    color: inherit;
}

.catalog_books li:first-child a {
    text-decoration: none;

}

.catalog_books ul {
    margin-top: 59px;
}

.catalog_books ul li {
    list-style-type: none;
    float: left;
    width: 122px;
    height: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

}

.catalog_books li:last-child {
    width: 103px;
    height: 16px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-top: 7px;
    margin-left: 24px;



}



.info {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 4px;
}

.author {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #727272;
}

.stars img {
    width: 12px;
    height: 12px;
}

.price p {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    float: left;
    padding-top: 21px;

}

.price img {
    float: right;
    padding-left: 8px;
    padding-top: 8px;
}

.fix {
    clear: both;
}

.catalog_books .selection-books>div {
    background-color: #FFFFFF;
    width: 272px;
    height: 368px;
    float: left;
    margin-right: 12px;
    border-radius: 4px;
}

.price span:first-child {
    color: #F46D69;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;


}

.price span:last-child {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    text-decoration: line-through;
}

.selection-books .books {
    margin-top: 16px;
    padding-top: 10px;

}

.selection-books .books:nth-child(7) {
    background-color: #F46D69;
    text-align: center;
    color: #FEFEFE;
    padding-top: 0px;

}

.selection-books .books:nth-child(7)>p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FEFEFE;
    padding-top: 15.53px;

}

.selection-books .books:nth-child(7) p:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FEFEFE;
    padding-top: 16px;

}

.catalog_books .selection-books .subscription {
    width: 1296px;
    height: 88px;
    margin-top: 16px;
    margin-left: -80px;
    color: #FFFFFF;

}

.subscription p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #727272;
    float: left;
    margin-left: 172px;
    margin-top: 30px;
}

.subscription button {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #727272;
    background: #FFFFFF;
    border: 1px solid #727272;
    border-radius: 4px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    float: right;
    margin-right: 180px;
    margin-top: 22px;
}

.catalog_books .selection-books .top_books {
    margin-top: 16px;
    height: 752px;
    background-image: url("../img/fon.svg");
}

.top_books p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #F9F9F8;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 35px;
    text-align: center;
}

.top_books p:nth-child(2) {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-left: 35px;
    color: #F9F9F8;
}

.top_books .img img:first-child {
    margin-left: 12px;
    margin-top: 42px;
}

.top_books .img img:last-child {
    margin-top: -263px;
    margin-bottom: 60px;
    margin-left: 16px;
}

.top_books button {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    background-color: rgba(28, 28, 28, 0);
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 85px;
    margin-top: -22px;
}

.articles ul {
    margin-top: 100px;
    list-style-type: none;

}

.articles ul li:first-child {
    float: left;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-top: 10px;

}

.articles a {
    text-decoration: none;
    color: inherit;
}

.articles li:last-child a {
    float: left;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 1px;

}

.footer {
    margin-left: 80px;
    margin-top: -80px;
}

.footer .arrows img:nth-child(1) {
    float: left;
    margin-left: -56px;
    margin-top: 225px;

}

.footer .arrows img:nth-child(2) {
    float: right;
    margin-top: 225px;
    margin-right: 24px;
}

.article {
    float: left;
    margin-top: 36px;
    margin-right: 16px;
}

.article p {
    margin-top: 4px;
}

.article p:last-child {
    width: 272px;
    height: 144px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-top: 8px;
}

.recommendation-books {
    width: 1296px;
    height: 544px;
    background: #F8F8F8;
    margin-top: 36px;
}

.recommendation-books ul {
    margin-left: 80px;
    padding-top: 40px;
}

.recommendation-books ul li {
    list-style-type: none;
    float: left;

}

.recommendation-books ul li a:first-child {
    text-decoration: none;
    color: inherit;
    color: #000000;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;



}

.recommendation-books ul li:last-child a {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
    margin-left: 24px;
}

.recommendation-books ul li:last-child {
    margin-top: 4px;
}

.recommendation-books .selection-books>div {
    background-color: #FFFFFF;
    width: 272px;
    height: 368px;
    float: left;
    margin-right: 12px;
    border-radius: 4px;
    margin-left: 80px;
    margin-top: 24px;
    margin-right: -68px;
}

.recommendation-books .arrows img {
    float: right;
    margin-top: 200px;
    margin-right: 30px;
}

.contact ul {
    margin-top: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-left: 80px;
    float: left;
    margin-right: 20px;
}

.contact ul li:first-child {
    padding-top: 40px;
}

.contact ul li {
    list-style-type: none;
    padding-top: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

.icon {
    float: right;

}

.icon img {
    padding-left: 15px;
    margin-top: 40px;

}

.icon img:last-child {
    margin-right: 89px;
}

.contact .store img {
    height: 29px;
    width: 100px;
}

.contact .store img:first-child {
    margin-top: 52px;
    margin-right: 80px;
    float: right;
}

.contact .store img:last-child {
    float: right;
    margin-top: 16px;
    margin-right: 80px;

}

